.banner{
    background-image: url('/banner2.jpg');
}
.bannerContext{
    height: 400px;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    justify-content: space-around;
}
.tagline{
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}